/* --- Font Library --- */
@font-face{
    font-family: 'Roboto-Thin' ;
    src : url('../fonts/Roboto-Thin.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
@font-face{
    font-family: 'Roboto-Light' ;
    src : url('../fonts/Roboto-Light.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
@font-face{
    font-family: 'Roboto-Regular' ;
    src : url('../fonts/Roboto-Regular.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
@font-face{
    font-family: 'Roboto-Bold' ;
    src : url('../fonts/Roboto-Bold.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
@font-face{
    font-family: 'Roboto-Black' ;
    src : url('../fonts/Roboto-Black.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
@font-face{
    font-family: 'Roboto-Medium' ;
    src : url('../fonts/Roboto-Medium.ttf')  format('truetype');
    font-weight: normal ;
    font-style : normal ;
}
/* --- Font Color --- */
.lg-wh {
	color: $lightwhite !important;
}
.wh{
	color: $white !important;
}
.bl{
	color: $blue !important;
}
.or{
	color: $orange !important;
}
.lg-gray {
	color: $lightgray !important;
}
.gray {
	color: $gray !important;
}
.black{
	color: $black !important;
}
/* --- Font Weight --- */
.bold {
	font-weight: bold !important;
}

/* --- Font Size --- */
.smaller {
	font-size: 0.8em;
}
.small {
	font-size : 0.9em;
}
.normal {
	font-size : 1em;
}
.big {
	font-size : 1.2em;
}
.bigger {
	font-size : 1.8em;
}
.normalTitle {
	font-size : 2.4em;
}
.bigTitle {
	font-size : 3.75em;
}

/* --- Heading --- */
h2,h3 {
	font-family: 'Roboto-Medium', sans-serif;
}
/* --- Font Style --- */
.roboBold {
	font-family: 'Roboto-Bold', sans-serif !important;
}
.roboBlack {
	font-family: 'Roboto-Black', sans-serif !important;
}
.roboMedium {
	font-family: 'Roboto-Medium', sans-serif !important;
}
.roboRegular {
	font-family: 'Roboto-Regular', sans-serif !important;
}
.roboLight {
	font-family: 'Roboto-Light', sans-serif !important;
}
.roboThin {
	font-family: 'Roboto-Thin', sans-serif !important;
}

.upper {
	text-transform: uppercase
}