/* --- Common reset --- */
html, body{
	margin: 0 auto;
	padding: 0;
}
figure {
	margin:0px;
	&>img {
		width: 100%;
	}

	figcaption {
		text-align: center;
	}
}
a {
	@include transition(0.3);
	&:hover {
		text-decoration: none;
	}
}
li {
	list-style-type: none;

	a {
		color: $blue;
		@include transition(0.3);
	}
}
nav {
	button {
		span {
			background-color: $white;
		}
	}
}
.containerCenter {
	position: absolute;
	overflow: hidden ;
	top : 50% ;
	left : 50% ;
	transform: translate(-50%,-50%); ;
}
.beCenter {
	float: none;
	margin: auto;
}
.noShadow {
	@include no-box-shadow();
}
.fullWidth {
	width: 100%;
}
@for $i from 0 through 5{
	.wd-#{$i*20}{
		width: $i*20%;
	}
}

/* --- Margin and Padding --- */
@for $i from 0 through 6{
	.mg-#{$i*5}{
		margin : $i*5px ;
	}
	.mg-bt-#{$i*5}{
		margin-top : $i*5px ;
		margin-bottom : $i*5px ;
	}
	.mg-lr-#{$i*5}{
		margin-left : $i*5px ;
		margin-right : $i*5px ;
	}
	.mg-t-#{$i*5}{
		margin-top : $i*5px ;
	}
	.mg-b-#{$i*5}{
		margin-bottom : $i*5px ;
	}
	.mg-l-#{$i*5}{
		margin-left : $i*5px ;
	}
	.mg-r-#{$i*5}{
		margin-right : $i*5px ;
	}
}

@for $i from 0 through 6{
	.pd-#{$i*5}{
		padding : $i*5px ;
	}
	.pd-bt-#{$i*5}{
		padding-top : $i*5px ;
		padding-bottom : $i*5px ;
	}
	.pd-lr-#{$i*5}{
		padding-left : $i*5px ;
		padding-right : $i*5px ;
	}
	.pd-t-#{$i*5}{
		padding-top : $i*5px ;
	}
	.pd-b-#{$i*5}{
		padding-bottom : $i*5px ;
	}
	.pd-l-#{$i*5}{
		padding-left : $i*5px ;
	}
	.pd-r-#{$i*5}{
		padding-right : $i*5px ;
	}
}

.noOffset{
	padding : 0px !important ;
	margin : 0px !important ;
}
.noMag{
	margin : 0px !important ;
}
.noPad{
	padding : 0px !important ;
}

/* --- Float --- */
.floatLeft {
	float: left !important;
}

.floatRight {
	float: right !important;
}

/* --- align --- */
.alignLeft {
	text-align: left !important;
}
.alignRight {
	text-align: right;
}
.alignCenter {
	text-align: center;
}
/* --- Position --- */
.beRelative {
	position: relative;
}
/* --- Heading --- */
h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 2.5em;
}

/* --- Button --- */
.btn {
	border-radius: 0px;
}

/* --- form --- */
.form-control {
	@include radius(0);
}
/* --- accordion --- */
.panel {
	@include no-box-shadow();
}
.panel-default {
	border: none;
    border-radius: 0px;
    background: none;

    &>.panel-heading {
		color: inherit;
	    border: none;
	    background: none;

	    a:active,a:focus {
	    	text-decoration: none;
	    }
	}
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
}

.roundImage {
	img {
		@include radius(100%);
		@include img-bg();
	}
}

.top-nav-collapse{
	margin : 0px ;
	border : none ;
}