.btn-default {
	background-color: $gray;
    color: $white;
    border-color: $gray;
    @include transition(0.3);
    @include box-shadow2();
    
    &:hover {
    	background-color: $lightgray;
	    color: $gray;
	    border-color: $lightgray;
    }
}