/* --- Layout --- */
.rightWidth {
	width: 80%;
}
.navbar {
	padding: 10px 30px;
}
.navbar-brand {
	padding: 0px;

	img {
		height: 100%;
	}
}
.dropdown-submenu {
	position:relative;
	&>.dropdown-menu {
	    top: 0;
		left: 100%;
	}
}
#hero,#about,#vision,#news,#agenda,#recent-news,.figSlider {
	min-height: 100vh;
}
.figSlider {
	position: relative;
	overflow: hidden;

	&>img {
		position: absolute;
		@include img-bg();
		min-height:100vh;
	}
}
.fp-tooltip{
		color: #AAA;
}
#fp-nav span, .fp-slidesNav span{
  border-color: #AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
  background: #AAA;
}
#about {
	padding: 0px 70px 0px 70px;

	.figAbout {

		.col-md-6 {
			padding: 0;

			figure {
				padding: 7px;

				img {
					@include img-bg();
				}
			}
		}
	}
}
#vision {
	padding: 0px 15px;

	.beRelative {
		min-height: 100vh;
	}
}
.visionSection,.missionSection{
	padding: 80px 70px 0;
}
.btFig-half {
	position: absolute;
    bottom: 0;
    max-height: 50vh;
    overflow: hidden;
}
.missionSection {
	min-height: 100vh;
}
.panel-heading {
	padding: 5px 15px;

	i {
		padding-right: 15px;
	}
}
.panel-body {
	padding: 0 50px 0 70px;
}
#news,#recent-news,#gallery,#testi,#news-list,#gallery-list {
	padding: 0px 40px;
}
.multiple-items,.recent-news {
	&>div {

		section {
			margin: 0 30px;
		}
	}

	figure {
		position: relative;
		overflow: hidden;

		img {
			@include img-bg();
			@include transition(0.6);
			background-size: 100%;
		}

		.overlay {
			@include overlay($blue,0.7);
			height: 60px;
			bottom: -60px;
			@include transition(0.3);
		}

		figcaption {
			bottom: -60px;
		    top: auto;
		    padding: 5px 20px;
		    @include transition(0.3);
		    color: #c0c0c0 ;
		    font-family: 'Roboto-Medium', sans-serif;

		    &:hover {
		    	color: $white;
		    }
		}
	}
	.newsList:hover {
		.overlay,figcaption {
			bottom: 0;
		}

		img {
			background-size: 110%;
		}
	}
}
#agenda {
	padding: 0px 70px;
}
.agendaSection {
	
	&>.row {
		position: relative;

		.col-md-6 {
			padding: 30px 0 30px 130px;
		}

		figure {
			position: absolute;
			top: 10vh;

			img {
				@include img-bg();
			}
		}
	}
}
#gallery {
	hr {
		margin-top: 50px;
	}
}
.galleryList {
	margin: 10px 0;
	position: relative;

	img {
		@include img-bg();
	}
}
#testi {
	height: 55vh;
	padding-top: 75px;
}
#contact {
	height: 45vh;
	overflow: hidden;
}
.contactInfo {
	padding: 30px 70px;

	i {
		min-width: 16px;
	}
}
.map {
	height: 45vh;
	position: relative;

	.overlay-map{
		position : absolute ;
		width: 100% ;
		height: 100% ;
		background : rgba(0,0,0,0.1) ;
		z-index : 10 ; 
	}

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.hiddenSec {
	height: 65vh;
}
footer {
	position: relative;
	height: 65vh;

	figure {
		margin: 0px auto 10px;
	}
}
#thisToggle {
	display: none;
}
/***********************************
news-list page
***********************************/
.heroTitle{
	position: relative;
	height: 45vh;
	overflow: hidden;
	@include img-bg();

	.overlay {
		top:0;
	}

	.container-fluid {
		position:absolute;
		bottom: 50px;
		width: 100%;
	}
}
#news-list {
	figure {
		img {
			@include img-bg();
		}
	}
	.newsListSec {
		margin-top: 30px;
		position:relative;

		.textForNewsList {
			position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}
	.asideSec {
		margin-top: 30px;
	}
}
.tags {
	padding: 0px;

	li a {
		float: left;
	    display: block;
	    padding: 5px 20px;
	    margin: 10px 10px 0 0;
	}
}
.footer-1 {
	height: auto;
	padding: 40px;

	.logoFooter {
		width: 120px;
		margin: 20px 0;
	}
}
/***********************************
news-detail page
***********************************/
#news-detail {
	padding: 30px 0;

	p {
		margin-bottom: 20px;
	}

	.socialMedia {
		li {
			a {
				@include radius(0);
				border: none;
				padding: 10px 15px;
			}
		}
	}
}
figcaption.caption {
	position: relative;
	left: auto;
	top: auto;
	transform: none;
	margin: 10px 0;
}