* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.3%;
}

.grid-item {
  height: 250px;
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
  overflow: hidden;
}

.grid-item--width2 { width:  66.6%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 500px; }
.grid-item--height3 { height: 600px; }

/* ----  custom grid-style ---- */
.grid-item {
  figure {
    margin: 15px;
    width: 100%;
    height: 100%;
    position: relative;

    .overlay{
      @include overlay($darkblue,0.6);
      opacity:0;
      @include radius(50%);
      @include transition(0.4);
      top: 0;
    }

    figcaption {
      @include transition(0.4);
      opacity:0;

      &.figcaptionTop {
        top: 30px;
      }

      &.figcaptionBottom {
        top:auto;
        bottom: 10px;
        font-family: 'Roboto-Medium', sans-serif;
      }
    }

    a {
      color: $white;

      &:hover {
        color: $orange;
      }
    }

    &:hover {
      .overlay {
        opacity :0.6;
        @include radius(0);
      }

      figcaption {
        opacity: 1;

        &.figcaptionTop {
          top: 40%;
        }
        &.figcaptionBottom {
          bottom: 25%;
        }
      }
    }
  }
  &.grid-item--height2 {
    figure {
      img {
        height: 100%; 
        width: auto;
      }

      &:hover {
        figcaption.figcaptionTop {
          top: 40%;
        }
        figcaption.figcaptionBottom {
          bottom: 40%;
        }
      }

    }
  }
  &.grid-item--width2,&.grid-item--height2.grid-item--width2 {
    figure {
      img {
        width: 100%; 
        height: auto;
      }
    }
  }
}

/* --- responsive style --- */
@media screen and (max-width: 768px) {
  .grid-item {
    width: 100% !important;
    height: auto !important;
  }
}