@media screen and (max-width: 996px) {
	p {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 768px) {
	.hidden-768 {
		display: none;
	}
	h2 {
		font-size: 2em !important;
	}
	.bigger {
		font-size: 1.3em !important;
	}
	.dropdown-menu {
		position: relative;
		width: 100%;
	}
	#news {
		padding-left:10px;
		padding-right: 10px;
	}
	#agenda {
		padding-left:20px;
		padding-right: 20px;
	}
	.agendaSection > .row .col-md-6 {
		padding-left: 30px;
	}
}

@media screen and (max-width: 400px) {
	#about,.visionSection,.missionSection {
		padding-left:20px;
		padding-right: 20px;
	}
	#news {
		padding-left:0px;
		padding-right: 0px;
	}
	#about {
		padding-top: 70px;
	}
}